*{
    margin: 0;
    padding: 0;
}

body,html{
    background-color: #000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-board{
    display: flex;
    background-color: #5e3023;
    padding: 2vw 5vw 4vw;    
    border-radius: 20px;
    /* border: 1px solid blue; */
}

.main-keys{
    /* border: solid #fff; */
    cursor: pointer;
    border-radius: 0px 0px 50px 50px;
    width: 1vw;
    padding: 2vw;
    margin: 0px 0.5vw;
    font-family: "Neue Machina";
    font-size: 2.2vw;

}

.pressed{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0000005a 100%);
}


div[data-key="a"], [data-key="l"] {
    background-color: #007f5f;
    height: 15vh;
    
}
div[data-key="s"], [data-key="k"] {
    background-color: #2b9348;
    height: 25vh;
}
div[data-key="d"], [data-key="j"] {
    background-color: #55a630;
    height: 35vh;
}

div[data-key="f"], [data-key="h"] {
    background-color: #80b918;
    height: 45vh;
}
div[data-key="g"]{
    background-color: #aacc00;
    height: 55vh;
}
